$mobile-width: 768px;

$primary: #00427c;

$purple-primary: #470a66;
$purple-light: #8e12cc;

$link-color: #4c4c4c;
$link-hover-color: #999999;

body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    position: absolute;
    top: 0;
}

.content-root {
    display: table;
    width: 100%;
    height: 100vh;
}

.content-wrapper {
    display: table-cell;
}

.content-bottom {
    margin: 0;
    margin-bottom: 191px;
    
    padding: 0;
}

.content {
    margin: 3%;
    margin-top: 70px; // navbar
    margin-bottom: 191px; // footer height

    padding-top: 3%;
}

.content-2 {
    margin-left: 2%;
    margin-right: 2%;   
}

.content-5 {
    margin-left: 5%;
    margin-right: 5%;
}

.content-10 {
    margin-left: 10%;
    margin-right: 10%;

    @media (max-width: $mobile-width) {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.content-15 {
    margin-left: 15%;
    margin-right: 15%;

    @media (max-width: $mobile-width) {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.content-20 {
    margin-left: 20%;
    margin-right: 20%;

    @media (max-width: $mobile-width) {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.content-25 {
    margin-left: 25%;
    margin-right: 25%;

    @media (max-width: $mobile-width) {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.relative {
    position: relative;
}

.middle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.middle-center {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-right: -50%;
}

.unstyled-link {
    text-decoration: none;
    color: black;
}

.unstyled-link-white {
    text-decoration: none;
    color: white;
}

.link {
    display: inline-block;

    text-decoration: none;
    color: $link-color;
}

.link:hover {
    color: $link-hover-color;
}

.underline-headline6 {
    box-shadow: inset 0 -7px 0 white, inset 0 -8px 0 $link-color;
}

.underline-headline6--hoverable:hover {
    box-shadow: inset 0 -7px 0 white, inset 0 -8px 0 $link-hover-color;
}

.underline-body2 {
    box-shadow: inset 0 -1px 0 white, inset 0 -2px 0 $link-color;
}

.underline-body2--hoverable:hover {
    box-shadow: inset 0 -1px 0 white, inset 0 -2px 0 $link-hover-color;
}

.white {
    color: white;
}
