@import 'global';

// donate-box styles
.donate-box {
    position: absolute;
    top: 30vh;
    right: 5%;

    width: 450px;
    height: 250px;

    background-color: white;

    border-radius: 5px;

    overflow: hidden;
}

.donate-header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 40%;

    padding-left: 10%;

    background-color: $action-color;
}

.donate-button {
    width: 120px;
    height: 40px;

    background-color: $donate-color !important;
}

// header-box styles
.header-box {
    position: absolute;
    top: 89vh;
    width: 100%;
    height: 11vh;

    background-color: transparentize($primary-dark, 0.3);
    color: white;
}

.header-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600 !important;
}

.header-text.header-text-small {
    font-size: 13px;
}

// left styles
.header-box-left {
    display: inline-block;

    width: 40%;

    padding-left: 10%;
}

.white .mdc-floating-label--float-above {
    color: white !important;
}

.white .mdc-text-field__input {
    border-bottom-color: rgba(255, 255, 255, .7) !important;
}

.white .mdc-line-ripple {
    background-color: white;
}

.sign-up-text {
    position: absolute;
    top: 5%;
}

.sign-up-form {
    padding-top: 2vh;
}

// right styles
.header-box-right {
    display: inline-block;

    position: absolute;
    top: 5%;
    width: 40%;

    padding-right: 10%;

    text-align: right;
}

.header-social-media {
    padding-top: 1vh;
}

// news panel styles
.news-panel {
    height: 600px;

    padding-left: 10%;
    padding-right: 10%;

    @media (max-width: $mobile-width) {
        height: 650px;

        padding-left: 5%;
        padding-right: 5%;
    }
}

// about panel styles
.about-box-wrapper {
    @media (max-width: $mobile-width) {
        width: 35vw; // I have no clue...
        text-align: center;
    }
}

.about-box {
    position: absolute;
    left: 10%;

    width: 25%;

    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;

    background-color: white;

    border-radius: 5px;
    border: solid 1px darken(white, 15%);

    @media (max-width: $mobile-width) {
        display: inline-block;
        position: relative;
        left: initial;
        width: 60%;
    }
}

.about-box-button {
    width: 100%;

    text-align: center;
}

.about-box hr {
    height: 1px;
    border: 0;

    background: darken(white, 15%);
}

// social media styles
.social-media-footer {
    width: 250px;

    margin-top: 20px;

    padding-top: 0.5%;
    padding-bottom: 0.5%;

    border-radius: 5px;
    border: solid darken(white, 40%) 1px;
}

.social-media-footer-icon {
    padding-left: 10px;
    padding-right: 10px;
    
    color: darken(white, 70%) !important;
}

.social-media-footer-icon:hover {
    color: darken(white, 60%) !important;
}

// slideshow styles
.slideshow-panel {
    height: 70vh;

    @media (max-width: $mobile-width) {
        height: 100vh;
        text-align: center;
    }
}

.slideshow-panel-blurb {
    margin-top: 10vh;
}

.slideshow-link {
    color: darken(white, 70%);
    font-weight: 600;
}

.slideshow-link:hover {
    color: darken(white, 50%);
}
