@import 'global';

.mdc-toolbar {
    height: 70px;
}

.mdc-toolbar__row {
    min-height: 70px;
}

.navbar {
    height: 70px;
    margin-bottom: 1%;

    background-color: $primary;

    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.navbar--transparent {
    background-color: rgba(0, 0, 0, 0);
}

.navbar--transparent.mdc-toolbar--fixed {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.navbar-image {
    height: 55px;

    border: solid;
    border-width: 1px;
    border-color: white;
}

.navbar-link-holder {
    min-width: 70%;
    margin-left: 120px;
}

.navbar-link {
    display: inline-block;

    margin-right: 10px;
    margin-left: 10px;

    color: white;
    text-decoration: none;
}

.navbar-link-text {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar-link-text:hover { 
    color: darken(white, 10%);
}

.navbar-button {
    height: 30px;
    margin: 0;

    padding: 0;
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width: $mobile-width) {
        padding-top: 5px;
        padding-bottom: 35px;
    }
}

.navbar-button .navbar-link-text:hover {
    color: white;
}

.navbar-button-red {
    background-color: $donate-color !important;
}

.navbar-button-blue {
    background-color: $action-color !important;
}
