@import 'global';

$red-button: #E53935;
$blue-button: #1E88E5;

.mdc-toolbar {
    height: 70px;
}

.mdc-toolbar__row {
    min-height: 70px;
}

.navbar {
    height: 70px;
    margin-bottom: 1%;

    background-color: $primary;
}

.navbar-image {
    height: 55px;

    border: solid;
    border-width: 1px;
    border-color: white;
}

.navbar-link-holder {
    min-width: 70%;
    margin-left: 120px;
}

.navbar-link {
    display: inline-block;

    margin-right: 10px;
    margin-left: 10px;

    color: white;
    text-decoration: none;
}

.navbar-link-text {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar-link-text:hover { 
    color: darken(white, 10%);
}

.navbar-button {
    height: 30px;
    margin: 0;

    padding: 0;
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width: $mobile-width) {
        padding-top: 5px;
        padding-bottom: 35px;
    }
}

.navbar-button .navbar-link-text:hover {
    color: white;
}

.navbar-button-red {
    background-color: $red-button !important;
}

.navbar-button-blue {
    background-color: $blue-button !important;
}
