@import 'global';

.post {
    margin-bottom: 5%;
}

.post-body img {
    width: 100% !important; // override draft-js-to-html styling
    height: auto;
}

.post-image-wrapper {
    text-align: center;
}

.post-image {
    width: 90%;
}

.share-menu {
    position: fixed;
    right: 40px;
    bottom: 3%;
    width: 56px;

    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

.share-sub-button {
    margin-bottom: 30%;
}

.posts-thumbnail-row {
    display: table;
    border-spacing: 2vw;

    @media (max-width: $mobile-width) {
        border-spacing: 0;
    }
}

.post-thumbnail {
    display: table-cell;
    overflow: hidden;
    
    position: relative;
    width: 33%; // guess and check, get three thumbnails on one page
    
    padding-bottom: 3%;

    border: solid darken(white, 15%) 1px;
    border-radius: 5px;

    @media (max-width: $mobile-width) {
        display: inline-block;
        min-width: 100%;

        margin-bottom: 3%;
    }
}

.post-thumbnail-image {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}

.post-thumbnail-text {
    margin-left: 5%;
    margin-right: 5%;
}

.post-thumbnail-created-at {
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 100%;

    text-align: center;
}


.issue-image-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50vh;

    object-fit: cover;
    font-family: 'object-fit: cover;';
}

.issue-body {
    margin-top: 40vh;
}

.post-list-thumbnail {
    width: 100%;
    height: 225px;

    margin-bottom: 2%;

    border-radius: 5px;
    border: solid darken(white, 15%) 1px;

    overflow: hidden;
}

.post-list-thumbnail-image {
    display: inline-block;
    width: 30%;
    height: 100%;

    object-fit: cover;
    font-family: 'object-fit: cover;';
}

.post-list-thumbnail-text {
    display: inline-block;
    width: 64%;

    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
}

.post-list-thumbnail-created-at {
    float: right;

    margin-top: 1%;
    margin-right: 1%;
}
