@import 'global';

.post {
    margin-bottom: 5%;
}

.post-body img {
    width: 100% !important; // override draft-js-to-html styling
    height: auto;
}

.post-image-wrapper {
    text-align: center;
}

.post-image {
    width: 90%;
}

.post-image-preview {
    height: 50vh;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}

.floating-title {
    position: absolute;
    top: 20%;
    margin-left: 5%;
    margin-right: 5%;

    color: white;
    text-align: center;

    @media (max-width: $mobile-width) {
        top: 10%;
    }
}

.share-menu {
    position: fixed;
    right: 40px;
    bottom: 3%;
    width: 56px;

    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

.share-sub-button {
    margin-bottom: 30%;
}
